
<div class="banner deplacer">
  <div class="banner-content">
    <h1>SE DEPLACER</h1>
    <h2>Quelques infos </h2>
  </div>
</div>

  <%= link_to data6_path do %>
  <div class="product">
    <div class='product-upvote'>
      <div class="product-arrow"></div>
      <div class='product-count'>1</div>
    </div>
    <%= image_tag("place-handicapee.jpg", :class => "product-image hidden-xs") %>
    <div class='product-body'>
      <h3>95</h3>
      <p>Places réservés pour les personnes à mobilité réduite</p>
    </div>
  </div>
  <% end %>

<%= link_to data7_path do %>
  <div class="product">
    <div class='product-upvote'>
      <div class="product-arrow"></div>
      <div class='product-count'>2</div>
    </div>
    <%= image_tag("travaux.jpg", :class => "product-image hidden-xs") %>
    <div class='product-body'>
      <h3>1099</h3>
      <p>Travaux de voirie achevés en 2017</p>
    </div>
  </div>
  <% end %>
<!--
<%= link_to data5_path do %>
  <div class="product">
    <div class='product-upvote'>
      <div class="product-arrow"></div>
      <div class='product-count'>3</div>
    </div>
    <%= image_tag("travaux.jpg", :class => "product-image hidden-xs") %>
    <div class='product-body'>
      <h3>1099</h3>
      <p>Travaux de voirie achevés en 2017</p>
    </div>
  </div>
  <% end %> -->
