<html lang='en'>
<head>
<meta charset='utf-8'>
<meta content='IE=Edge,chrome=1' http-equiv='X-UA-Compatible'>
<script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.nr-data.net","errorBeacon":"bam.nr-data.net","licenseKey":"c0523a4102","applicationID":"61688963","transactionName":"dlYLFkZbW1wBQRddWFhcSgtaUFJI","queueTime":0,"applicationTime":583,"agent":""}</script>
<script type="text/javascript">window.NREUM||(NREUM={}),__nr_require=function(e,t,n){function r(n){if(!t[n]){var o=t[n]={exports:{}};e[n][0].call(o.exports,function(t){var o=e[n][1][t];return r(o||t)},o,o.exports)}return t[n].exports}if("function"==typeof __nr_require)return __nr_require;for(var o=0;o<n.length;o++)r(n[o]);return r}({1:[function(e,t,n){function r(){}function o(e,t,n){return function(){return i(e,[f.now()].concat(u(arguments)),t?null:this,n),t?void 0:this}}var i=e("handle"),a=e(2),u=e(3),c=e("ee").get("tracer"),f=e("loader"),s=NREUM;"undefined"==typeof window.newrelic&&(newrelic=s);var p=["setPageViewName","setCustomAttribute","setErrorHandler","finished","addToTrace","inlineHit","addRelease"],d="api-",l=d+"ixn-";a(p,function(e,t){s[t]=o(d+t,!0,"api")}),s.addPageAction=o(d+"addPageAction",!0),s.setCurrentRouteName=o(d+"routeName",!0),t.exports=newrelic,s.interaction=function(){return(new r).get()};var m=r.prototype={createTracer:function(e,t){var n={},r=this,o="function"==typeof t;return i(l+"tracer",[f.now(),e,n],r),function(){if(c.emit((o?"":"no-")+"fn-start",[f.now(),r,o],n),o)try{return t.apply(this,arguments)}catch(e){throw c.emit("fn-err",[arguments,this,e],n),e}finally{c.emit("fn-end",[f.now()],n)}}}};a("setName,setAttribute,save,ignore,onEnd,getContext,end,get".split(","),function(e,t){m[t]=o(l+t)}),newrelic.noticeError=function(e){"string"==typeof e&&(e=new Error(e)),i("err",[e,f.now()])}},{}],2:[function(e,t,n){function r(e,t){var n=[],r="",i=0;for(r in e)o.call(e,r)&&(n[i]=t(r,e[r]),i+=1);return n}var o=Object.prototype.hasOwnProperty;t.exports=r},{}],3:[function(e,t,n){function r(e,t,n){t||(t=0),"undefined"==typeof n&&(n=e?e.length:0);for(var r=-1,o=n-t||0,i=Array(o<0?0:o);++r<o;)i[r]=e[t+r];return i}t.exports=r},{}],4:[function(e,t,n){t.exports={exists:"undefined"!=typeof window.performance&&window.performance.timing&&"undefined"!=typeof window.performance.timing.navigationStart}},{}],ee:[function(e,t,n){function r(){}function o(e){function t(e){return e&&e instanceof r?e:e?c(e,u,i):i()}function n(n,r,o,i){if(!d.aborted||i){e&&e(n,r,o);for(var a=t(o),u=m(n),c=u.length,f=0;f<c;f++)u[f].apply(a,r);var p=s[y[n]];return p&&p.push([b,n,r,a]),a}}function l(e,t){v[e]=m(e).concat(t)}function m(e){return v[e]||[]}function w(e){return p[e]=p[e]||o(n)}function g(e,t){f(e,function(e,n){t=t||"feature",y[n]=t,t in s||(s[t]=[])})}var v={},y={},b={on:l,emit:n,get:w,listeners:m,context:t,buffer:g,abort:a,aborted:!1};return b}function i(){return new r}function a(){(s.api||s.feature)&&(d.aborted=!0,s=d.backlog={})}var u="nr@context",c=e("gos"),f=e(2),s={},p={},d=t.exports=o();d.backlog=s},{}],gos:[function(e,t,n){function r(e,t,n){if(o.call(e,t))return e[t];var r=n();if(Object.defineProperty&&Object.keys)try{return Object.defineProperty(e,t,{value:r,writable:!0,enumerable:!1}),r}catch(i){}return e[t]=r,r}var o=Object.prototype.hasOwnProperty;t.exports=r},{}],handle:[function(e,t,n){function r(e,t,n,r){o.buffer([e],r),o.emit(e,t,n)}var o=e("ee").get("handle");t.exports=r,r.ee=o},{}],id:[function(e,t,n){function r(e){var t=typeof e;return!e||"object"!==t&&"function"!==t?-1:e===window?0:a(e,i,function(){return o++})}var o=1,i="nr@id",a=e("gos");t.exports=r},{}],loader:[function(e,t,n){function r(){if(!x++){var e=h.info=NREUM.info,t=d.getElementsByTagName("script")[0];if(setTimeout(s.abort,3e4),!(e&&e.licenseKey&&e.applicationID&&t))return s.abort();f(y,function(t,n){e[t]||(e[t]=n)}),c("mark",["onload",a()+h.offset],null,"api");var n=d.createElement("script");n.src="https://"+e.agent,t.parentNode.insertBefore(n,t)}}function o(){"complete"===d.readyState&&i()}function i(){c("mark",["domContent",a()+h.offset],null,"api")}function a(){return E.exists&&performance.now?Math.round(performance.now()):(u=Math.max((new Date).getTime(),u))-h.offset}var u=(new Date).getTime(),c=e("handle"),f=e(2),s=e("ee"),p=window,d=p.document,l="addEventListener",m="attachEvent",w=p.XMLHttpRequest,g=w&&w.prototype;NREUM.o={ST:setTimeout,SI:p.setImmediate,CT:clearTimeout,XHR:w,REQ:p.Request,EV:p.Event,PR:p.Promise,MO:p.MutationObserver};var v=""+location,y={beacon:"bam.nr-data.net",errorBeacon:"bam.nr-data.net",agent:"js-agent.newrelic.com/nr-1071.min.js"},b=w&&g&&g[l]&&!/CriOS/.test(navigator.userAgent),h=t.exports={offset:u,now:a,origin:v,features:{},xhrWrappable:b};e(1),d[l]?(d[l]("DOMContentLoaded",i,!1),p[l]("load",r,!1)):(d[m]("onreadystatechange",o),p[m]("onload",r)),c("mark",["firstbyte",u],null,"api");var x=0,E=e(4)},{}]},{},["loader"]);</script>
<meta content='width=device-width,height=device-height,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0' name='viewport'>
<meta content='yes' name='mobile-web-app-capable'>
<meta content='yes' name='apple-mobile-web-app-capable'>
<meta content='translucent-black' name='apple-mobile-web-app-status-bar-style'>
<meta content='Intranet 42' name='apple-mobile-web-app-title'>
<meta content='on' http-equiv='cleartype'>
<link href='https://cdn.intra.42.fr/' rel='preconnect'>
<link href='https://profile.intra.42.fr/assets/42_logo_black-684989d43d629b3c0ff6fd7e1157ee04db9bb7a73fba8ec4e01543d650a1c607.png' rel='icon' type='image/svg'>
<link href='https://profile.intra.42.fr/assets/42_logo_black-684989d43d629b3c0ff6fd7e1157ee04db9bb7a73fba8ec4e01543d650a1c607.png' rel='shortcut icon' type='image/svg'>
<link href='/opensearch.xml' rel='search' title='login' type='application/opensearchdescription+xml'>
<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"></script>
<![endif]-->
<script src="//cdn.ravenjs.com/3.14.0/raven.min.js"></script>
<script src="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<title>Intra Profile Home</title>
<meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="npNQxRbuH+Lcec+G3O8Ag3NxLwD64AF52J7MXdN6AqLXafEaIMedK9fZUH6tQ8K9odV5qAA4JyDICUAHLmumYA==" />
<link rel="stylesheet" media="all" href="/assets/application-fa36d6e6ac2b88a4920e919c9f85bf775506eac41a1d414e1c01e2c9d530b88b.css" />
<script>
  (function() {
    this._user = {
      "login": "hdumas",
      "id": 12275,
      "url": "https://profile.intra.42.fr/users/hdumas"
    };

    this._consumer_address = 'wss://meta.intra.42.fr/cable';

  }).call(this);
</script>
<script>
  (function() {
    this._environment = "production";

    this._git_commit = "";

    this._release = "";

  }).call(this);
</script>

<body class=' '>
<div class='notifications-flash-top-bar'>

</div>
<script>
  (function() {
    this._notifCount = 31;

    this._flashes = [];

  }).call(this);
</script>

<div class='notifications-container' data-flashes-url='https://profile.intra.42.fr/flashes' data-notifications-url='https://profile.intra.42.fr/notifications'></div>

<div class='main-navbar'>
<div class='main-navbar-left'>
<div class='main-navbar-logo' data-turbolinks-scaffold>
<img alt="42" src="https://d1guu6n8gz71j.cloudfront.net/system/video/previews/1079190/big.jpg?1516201010" /> </div>
<span class='hidden-sidebars main-menu-trigger lines-button x' data-trigger-menu=''>
<span class='lines'></span>
</span>
<a class="search-mobile-button hidden-sidebars icon-search" href="https://profile.intra.42.fr/searches"></a>
</div>
<div class='main-navbar-user-nav' data-turbolinks-scaffold>



<a data-toggle='dropdown' href='#'>
<span data-login='hdumas'>

</span>
<div class='user-profile-picture visible-sidebars' style='background-image: url(https://cdn.intra.42.fr/users/small_hdumas.jpg)'></div>
</a>

</span>

<!-- frshp notifications -->
<!-- = link_to("#{Rails.application.config.module_url['profile']}/friends", :class => "user-action labelable") do -->
<!-- %span.icon-user -->
<!-- %span.labeled= current_user.invitations.count -->
</div>
</div>


<div class='container-item profile-item full-width'>
<div class='container-inner-item profile-item-top profile-banner home-banner flex flex-direction-row' style='background-color: #5BCEFA'>
<div class='user-banner margin-left-38 margin-right-10 visible-lg hidden-md' data-default-url='https://profile.intra.42.fr/assets/coalitions/factionless-05b8cd65bda8f5eaf56ecf1d16493f41908801cfd66aa97fb27c9611064f4f36.svg'>



<div class='coalition-flag'>


</div>
</a><div class='text-center padding-top-10 padding-bottom-5' data-placement='top' data-toggle='tooltip' id='coalition-score' style='display: none' title='Your score'>
<span class='icon iconf-trophy'></span>
<span class='value'></span>
</div>
<div class='text-center padding-top-5 padding-bottom-10' data-placement='top' data-toggle='tooltip' id='coalition-rank' style='display: none' title='Your rank'>
<span class='icon iconf-arrow-43'></span>
<span class='value'></span>
</div>
</div>
<div class='user-column flex flex-direction-column'>
<div class='user-primary' data-turbolinks-scaffold='inside'>
<div class='col-sm-12 padding-left-30 user-infos'>
<h2 class='profile-name margin-top-0 margin-bottom-0 flex flex-row align-items-center'>
<div class='mini-banner visible-xs visible-sm visible-md inline margin-right-10 hidden-lg'>
<a class="false" href="/blocs/1/coalitions/3"><div class='coalition-flag-mini'>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">




</div>
</a></div>
<span class='coalition-name margin-right-10'>
<span class='coalition-span' style='color: #A061D1'>
Bussiness Technology
</span>

<div class='visible-xs visible-sm visible-md inline margin-right-10 margin-top-5 hidden-lg'>
<span class='inline' data-placement='top' data-toggle='tooltip' id='coalition-score' style='display: none' title='Your score'>
<span class='icon iconf-trophy'></span>
<span class='value'></span>
</span>
<span class='inline margin-left-10' data-placement='top' data-toggle='tooltip' id='coalition-rank' style='display: none' title='Your rank'>
<span class='icon iconf-arrow-43'></span>
<span class='value'></span>
</span>
</div>
</span>
<span class='name margin-top-15 margin-bottom-10'>


<span>Henri Dumas </span>
</span>
<span class='login' data-login='hdumas'>Maker</span>
<div class='btn-group' id='title-selector'></div>

</h2>
</div>
</div>
<div class='_'>
<div class='col-md-3 padding-0 profile-infos profile-right-box'>
<div class='user-header-box infos'>
<div class='user-infos-sub'>
<div class='user-wallet user-inline-stat'><span class='coalition-span' style='color: #33C47F'>
Missions
</span><span class='user-wallet-value'>6</span></div>
<div class='user-correction-point user-inline-stat'><span class='coalition-span' style='color: #33C47F'>
Expérience
</span><span class='user-correction-point-value'>6 mois</span></div>
<div class='user-grade user-inline-stat'><span class='coalition-span' style='color: #A061D1'>
Cursus
</span><span class='user-cursus' data-cursus-id='42'>
42/ESCP/HEC</span></div>
<div class='user-grade user-inline-stat' data-cursus='42'><span class='coalition-span' style='color: #A061D1'>
Grade
</span><span class='user-grade-value'>
Consultant</span></div>
<div class='user-eta user-inline-stat' data-cursus='42'>
<span data-placement='bottom' data-toggle='tooltip' title='Estimated time of end of cursus'>

</div>
</div>
</div>
</div>
<div class='profile-left-box'>
<div class='user-primary' data-turbolinks-scaffold='inside'>
<div class='user-infos col-sm-12'>
<div class='user-data'>
<div class='user-header-box logtime hidden' id='logtime_container'>
<div color='#A061D1' id='logtime_goal'></div>
</div>
<div class='user-header-box location'>
<div class='user-poste-status'>
<span class='icon-circle text-danger'></span>
Indisponible
</div>
<div class='user-poste-infos'>
<%= link_to "CV", cv_path %>
</div>
</div>





<div class='user-header-box flex flex-direction-colums flex-space-around padding-left-0 ' id='goals_container'>
<div class='profile-infos-bottom bh'>
<div class='profile-infos-item blackol flex flex-direction-row flex-align-items-center'>
<span class='title-goal'>
<span class='coalition-span' style='color: #A061D1'>
Mission actuelle
</span>

</span>
<div class='flex flex-space-between content w-100'>
<span class='status-bh' data-placement='top' data-toggle='tooltip' title=''></span>
<div class='progress-item w-100'>
<div class='progress margin-bottom-0'>
<div class='progress-bar' role='progressbar' style='width: 75%'></div>
</div>
</div>
</div>
</div>
<div class='profile-infos-item exams flex flex-direction-row flex-align-items-center'>
<span class='title-goal'>
<span class='coalition-span' style='color: #A061D1'>
Coach
</span>

</span>
<div class='flex flex-space-between content w-100'> Julie Gauthier </div>
</div>
<div class='profile-infos-item goals-internships flex flex-direction-row flex-align-items-center'>
<span class='title-goal'>
<span class='coalition-span' style='color: #A061D1'>
Directeur de Mission
</span>

</span>
<div class='flex flex-space-between content w-100'> Marc Boutoille
</div>
</div>
</div>
</div>
</div>

<div class='user-progress'>
<div class='cursus-progress-item'>
<a class='progress-container' data-cursus='42' href='https://profile.intra.42.fr/users/hdumas/experiences/cursus_id/1'>
<div class='progress double'>
<div class='progress-bar' role='progressbar' style='width: 100%; background: #A061D1'></div>
<div class='on-progress'>Staffing - 100%</div>
</div>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class='container-fullsize full-width fixed-height'>
<div class='row'>
<div class='col-lg-4 col-md-6 col-xs-12 fixed-height'>
<div class='container-inner-item boxed' data-turbolinks-scaffold='inside'>
<h4 class='profile-title'>
Agenda
<span class='simple-link pull-right'>
</span>
</h4>
<div class='overflowable-item'>

<div class='event-list'><div class='event-item' data-event-category='meet'>
<div class='event-overflow'>
</div>
<div class='event-left'>
<div class='date-day'>8</div>
<div class='date-month'>February</div>
</div>
<div class='event-main'>
<div class='event-top'>
<b class='event-name'>Team Meeting </b>
<div class='event-subname'>Le premier de la nouvelle année </div>
</div>
<div class='event-bottom'>
<div class='event-time'>
<span></span>
</div>
<div class='event-date'>
<span><i class="far fa-clock"></i> </span>
<span></span>
<span>18h30</span>
</div>
<div class='event-location event-meta-item'>
<span><i class="fas fa-location-arrow"></i> </span>
<span>42 rue du rocher</span>
</div>
</div>
<div class='event-metadata'>
<a class="event-button" data-smart-modal="true" data-url="/events/1539" data-selector="article" data-title="header" data-footer="footer" href="#">See more</a>
</div>
</div>
</div>
</div>




<div class='event-list'><div class='event-item' data-event-category='association'>
<div class='event-overflow'>
</div>
<div class='event-left'>
<div class='date-day'>9</div>
<div class='date-month'>February</div>
</div>
<div class='event-main'>
<div class='event-top'>
<b class='event-name'>Soutenance </b>
<div class='event-subname'> un nouveau départ </div>
</div>
<div class='event-bottom'>
<div class='event-time'>
<span></span>
</div>
<div class='event-date'>
<span><i class="far fa-clock"></i> </span>
<span></span>
<span>18h30</span>
</div>
<div class='event-location event-meta-item'>
<span><i class="fas fa-location-arrow"></i> </span>
<span>42 rue du rocher</span>
</div>
</div>
<div class='event-metadata'>
<a class="event-button" data-smart-modal="true" data-url="/events/1539" data-selector="article" data-title="header" data-footer="footer" href="#">See more</a>
</div>
</div>
</div>
</div>


<div class='event-list'><div class='event-item' data-event-category='association'>
<div class='event-overflow'>
</div>
<div class='event-left'>
<div class='date-day'>17</div>
<div class='date-month'>February</div>
</div>
<div class='event-main'>
<div class='event-top'>
<b class='event-name'>Poc lab </b>
<div class='event-subname'> foca </div>
</div>
<div class='event-bottom'>
<div class='event-time'>
<span></span>
</div>
<div class='event-date'>
<span><i class="far fa-clock"></i> </span>
<span></span>
<span>18h30</span>
</div>
<div class='event-location event-meta-item'>
<span><i class="fas fa-location-arrow"></i> </span>
<span>42 rue du rocher</span>
</div>
</div>
<div class='event-metadata'>
<a class="event-button" data-smart-modal="true" data-url="/events/1539" data-selector="article" data-title="header" data-footer="footer" href="#">See more</a>
</div>
</div>
</div>
</div>



<div class='event-list'><div class='event-item' data-event-category='Meeting'>
<div class='event-overflow'>
</div>
<div class='event-left'>
<div class='date-day'>21</div>
<div class='date-month'>February</div>
</div>
<div class='event-main'>
<div class='event-top'>
<b class='event-name'>conférence </b>
<div class='event-subname'> le futur c'est demain </div>
</div>
<div class='event-bottom'>
<div class='event-time'>
<span></span>
</div>
<div class='event-date'>
<span><i class="far fa-clock"></i> </span>
<span></span>
<span>18h30</span>
</div>
<div class='event-location event-meta-item'>
<span><i class="fas fa-location-arrow"></i> </span>
<span>42 rue du rocher</span>
</div>
</div>
<div class='event-metadata'>
<a class="event-button" data-smart-modal="true" data-url="/events/1539" data-selector="article" data-title="header" data-footer="footer" href="#">See more</a>
</div>
</div>
</div>
</div>

<div class='event-list'><div class='event-item' data-event-category='association'>
<div class='event-overflow'>
</div>
<div class='event-left'>
<div class='date-day'>24</div>
<div class='date-month'>February</div>
</div>
<div class='event-main'>
<div class='event-top'>
<b class='event-name'>CMBT </b>
<div class='event-subname'> foca </div>
</div>
<div class='event-bottom'>
<div class='event-time'>
<span></span>
</div>
<div class='event-date'>
<span><i class="far fa-clock"></i> </span>
<span></span>
<span>18h30</span>
</div>
<div class='event-location event-meta-item'>
<span><i class="fas fa-location-arrow"></i> </span>
<span>42 rue du rocher</span>
</div>
</div>
<div class='event-metadata'>
<a class="event-button" data-smart-modal="true" data-url="/events/1539" data-selector="article" data-title="header" data-footer="footer" href="#">See more</a>
</div>
</div>
</div>
</div>




</div>
</div>
</div>
<div class='col-lg-4 col-md-6 col-xs-12 fixed-height'>
<div class='container-inner-item boxed' data-turbolinks-scaffold='inside'>
<h4 class='profile-title'>
Evaluations

</h4>
<div class='overflowable-item'>
<div class='if-no-content'>
<span class='very-big-icon'><i class="far fa-clock"></i></span>
<h3 class='note-title'>Evaluation en cours</h3>
</div>
</div>
</div>
</div>

<div class='col-lg-4 col-md-6 col-xs-12 fixed-height'>
<div class='container-inner-item boxed' data-turbolinks-scaffold='inside'>

<h4 class='profile-title'>
Expertises
</h4>


<div class='overflowable-item'>
<div class='expertise-item'>
<h5>
Architecture d'entreprise
</h5>
</div>


<div class='expertise-item'>
<h5>
Digital
</h5>
</div>

<div class='expertise-item'>
<h5>
Programmation
</h5>
</div>

<div class='expertise-item'>
<h5>
Design
</h5>
</div>

<div class='expertise-item'>
<h5>
Vidéo
</h5>
</div>



</div>
</div>
</div>
<div class='col-lg-4 col-md-6 col-xs-12 fixed-height'>
<div class='container-inner-item boxed' data-turbolinks-scaffold='inside'>
<h4 class='profile-title'>
<a href="https://projects.intra.42.fr/projects/graph">REX</a>
<div class='pull-right title-container'>
<div class='school-record-container'>

<ul class='dropdown-menu' id='school-record-dropdown-menu' role='menu' style='text-align: center; padding: 10px;'>

</ul>
</div>

</div>
</h4>
<div class='overflowable-item'>

<a class="project-item block-item" data-cursus="42partnerships 42 formation-pole-emploi" href="#">
<div class='status pull-right-if-not-mobile'>
<span class='marked-title'></div></a>

<a class="project-item block-item" data-cursus="42partnerships 42 formation-pole-emploi" href="#"> PPI
<div class='status pull-right-if-not-mobile'>
<span class='marked-title'></div></a>

<a class="project-item block-item" data-cursus="42partnerships 42 formation-pole-emploi" href="#"> Connected samples
<div class='status pull-right-if-not-mobile'>
<span class='marked-title'></div></a>


<a class="project-item block-item" data-cursus="42partnerships 42 formation-pole-emploi" href="#"> Etude d'opportunité
<div class='status pull-right-if-not-mobile'>
<span class='marked-title'></div></a>

</div>
</div>

</div>


<div class='col-lg-4 col-md-6 col-xs-12 fixed-height'>
<div class='container-inner-item boxed' data-turbolinks-scaffold='inside'>
<h4 class='profile-title'>
<a href="#">PROPALES</a>

</a></h4>
<div class='overflowable-item'>
<div class='topic-item' data-topic-id='1057'>
<div class='topic-author bg-image-item rounded' style='background-image: url(https://source.unsplash.com/random)'></div>
<div class='topic-content'>
<div class='topic-top'>
<a data-id='1057' href='#/topics/1057/messages/last'>
<h4 class='inline topic-name'>
<%= link_to 'SUEZ', 'propale.pdf', download: 'SUEZ' %>
</h4>
</a>
<div class='tags-list'>
<span class='forum-tag label' tag-name='bocal'>BA</span>
<span class='forum-tag label' tag-name='general'>ETM</span>
<span class='forum-tag label' tag-name='intra'>TRANSFO</span>
<span class='forum-tag label' tag-name='pedagogy'>DIGITAL</span>
</div>
</div>
<div class='topic-metadata'>
Written by <a data-tooltip-login="mdarty" data-tooltip-url="https://profile.intra.42.fr" href="https://profile.intra.42.fr/users/mdarty">JULIE</a>
<span data-placement='top' data-toggle='tooltip' title='2015-02-05 18:04'>
2017-02-05
</span>
<div class='topic-right-metadata topic-item-lighteable hidden-xs'>
<span class='topic-unread-count'>
<span data-cache-unread-count=''></span>
<a data-read-all-in-topic='' data-read-url='#/topics/1057/mark_all_read' href='#'>Mark all as read</a>
</span>
<div class='topic-status'>
<span class='topic-unread-status'></span>
</div>
</div>
</div>
</div>
</div>

<div class='topic-item' data-topic-id='1057'>
<div class='topic-author bg-image-item rounded' style='background-image: url(https://source.unsplash.com/random)'></div>
<div class='topic-content'>
<div class='topic-top'>
<a data-id='1057' href='#/topics/1057/messages/last'>
<h4 class='inline topic-name'>
<%= link_to 'GR2F', 'propale.pdf', download: 'GR2F' %>
</h4>
</a>
<div class='tags-list'>
<span class='forum-tag label' tag-name='bocal'>BA</span>
<span class='forum-tag label' tag-name='intra'>TRANSFO</span>

</div>
</div>
<div class='topic-metadata'>
Written by <a data-tooltip-login="mdarty" data-tooltip-url="https://profile.intra.42.fr" href="https://profile.intra.42.fr/users/mdarty">JULIE</a>
<span data-placement='top' data-toggle='tooltip' title='2015-02-05 18:04'>
2017-02-05
</span>
<div class='topic-right-metadata topic-item-lighteable hidden-xs'>
<span class='topic-unread-count'>
<span data-cache-unread-count=''></span>
<a data-read-all-in-topic='' data-read-url='#/topics/1057/mark_all_read' href='#'>Mark all as read</a>
</span>
<div class='topic-status'>
<span class='topic-unread-status'></span>
</div>
</div>
</div>
</div>
</div>

<div class='topic-item' data-topic-id='1057'>
<div class='topic-author bg-image-item rounded' style='background-image: url(https://source.unsplash.com/random)'></div>
<div class='topic-content'>
<div class='topic-top'>
<a data-id='1057' href='#/topics/1057/messages/last'>
<h4 class='inline topic-name'>
<%= link_to 'SNCF', 'propale.pdf', download: 'SUEZ' %>
</h4>
</a>
<div class='tags-list'>
<span class='forum-tag label' tag-name='bocal'>BA</span>
<span class='forum-tag label' tag-name='general'>ETM</span>
<span class='forum-tag label' tag-name='pedagogy'>DIGITAL</span>
</div>
</div>
<div class='topic-metadata'>
Written by <a data-tooltip-login="mdarty" data-tooltip-url="https://profile.intra.42.fr" href="https://profile.intra.42.fr/users/mdarty">JULIE</a>
<span data-placement='top' data-toggle='tooltip' title='2015-02-05 18:04'>
2017-02-05
</span>
<div class='topic-right-metadata topic-item-lighteable hidden-xs'>
<span class='topic-unread-count'>
<span data-cache-unread-count=''></span>
<a data-read-all-in-topic='' data-read-url='#/topics/1057/mark_all_read' href='#'>Mark all as read</a>
</span>
<div class='topic-status'>
<span class='topic-unread-status'></span>
</div>
</div>
</div>
</div>
</div>


<div class='topic-item' data-topic-id='1057'>
<div class='topic-author bg-image-item rounded' style='background-image: url(https://source.unsplash.com/random)'></div>
<div class='topic-content'>
<div class='topic-top'>
<a data-id='1057' href='#/topics/1057/messages/last'>
<h4 class='inline topic-name'>
<%= link_to 'BSCC', 'propale.pdf', download: 'SUEZ' %>
</h4>
</a>
<div class='tags-list'>


<span class='forum-tag label' tag-name='intra'>TRANSFO</span>
<span class='forum-tag label' tag-name='pedagogy'>DIGITAL</span>
</div>
</div>
<div class='topic-metadata'>
Written by <a data-tooltip-login="mdarty" data-tooltip-url="https://profile.intra.42.fr" href="https://profile.intra.42.fr/users/mdarty">JULIE</a>
<span data-placement='top' data-toggle='tooltip' title='2015-02-05 18:04'>
2017-02-05
</span>
<div class='topic-right-metadata topic-item-lighteable hidden-xs'>
<span class='topic-unread-count'>
<span data-cache-unread-count=''></span>
<a data-read-all-in-topic='' data-read-url='#/topics/1057/mark_all_read' href='#'>Mark all as read</a>
</span>
<div class='topic-status'>
<span class='topic-unread-status'></span>
</div>
</div>
</div>
</div>
</div>

<div class='topic-item' data-topic-id='1057'>
<div class='topic-author bg-image-item rounded' style='background-image: url(https://source.unsplash.com/random)'></div>
<div class='topic-content'>
<div class='topic-top'>
<a data-id='1057' href='#/topics/1057/messages/last'>
<h4 class='inline topic-name'>
<%= link_to 'AXA', 'propale.pdf', download: 'SUEZ' %>
</h4>
</a>
<div class='tags-list'>
<span class='forum-tag label' tag-name='bocal'>BA</span>
<span class='forum-tag label' tag-name='general'>ETM</span>
<span class='forum-tag label' tag-name='intra'>TRANSFO</span>

</div>
</div>
<div class='topic-metadata'>
Written by <a data-tooltip-login="mdarty" data-tooltip-url="https://profile.intra.42.fr" href="https://profile.intra.42.fr/users/mdarty">JULIE</a>
<span data-placement='top' data-toggle='tooltip' title='2015-02-05 18:04'>
2017-02-05
</span>
<div class='topic-right-metadata topic-item-lighteable hidden-xs'>
<span class='topic-unread-count'>
<span data-cache-unread-count=''></span>
<a data-read-all-in-topic='' data-read-url='#/topics/1057/mark_all_read' href='#'>Mark all as read</a>
</span>
<div class='topic-status'>
<span class='topic-unread-status'></span>
</div>
</div>
</div>
</div>
</div>

<div class='topic-item' data-topic-id='1057'>
<div class='topic-author bg-image-item rounded' style='background-image: url(https://source.unsplash.com/random)'></div>
<div class='topic-content'>
<div class='topic-top'>
<a data-id='1057' href='#/topics/1057/messages/last'>
<h4 class='inline topic-name'>
<%= link_to 'EDF', 'propale.pdf', download: 'SUEZ' %>
</h4>
</a>
<div class='tags-list'>
<span class='forum-tag label' tag-name='bocal'>BA</span>
<span class='forum-tag label' tag-name='general'>ETM</span>
<span class='forum-tag label' tag-name='intra'>TRANSFO</span>
</div>
</div>
<div class='topic-metadata'>
Written by <a data-tooltip-login="mdarty" data-tooltip-url="https://profile.intra.42.fr" href="https://profile.intra.42.fr/users/mdarty">JULIE</a>
<span data-placement='top' data-toggle='tooltip' title='2015-02-05 18:04'>
2017-02-05
</span>
<div class='topic-right-metadata topic-item-lighteable hidden-xs'>
<span class='topic-unread-count'>
<span data-cache-unread-count=''></span>
<a data-read-all-in-topic='' data-read-url='#/topics/1057/mark_all_read' href='#'>Mark all as read</a>
</span>
<div class='topic-status'>
<span class='topic-unread-status'></span>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>
<div class='col-lg-4 col-md-6 col-xs-12 fixed-height'>
<div class='container-inner-item boxed' data-turbolinks-scaffold='inside' style='overflow: auto'>
<h4 class='profile-title'>
Communauté
</h4>
<div class='achievement-item col-xs-12'>
<div class='achievement-item--container mini'>
<div class='achievement-item--content'>
<h1>
AGILE NOW
</h1>
<p>Le changement c'est maintenant</p>
</div>
<div class='achievement-item--image'>
<img src='https://cdn.intra.42.fr/achievement/image/36/SOC004.svg'>
</div>
</div>
</div>
<div class='achievement-item col-xs-12'>
<div class='achievement-item--container mini'>
<div class='achievement-item--content'>
<h1>
DIGITAL
</h1>
<p>De l'exploitation à la transformation</p>
</div>
<div class='achievement-item--image'>
<img src='https://cdn.intra.42.fr/achievement/image/155/BADGE_SCOLARITY_paris.svg'>
</div>
</div>
</div>
<div class='achievement-item col-xs-12' style='border: solid '>
<div class='achievement-item--container mini'>
<div class='achievement-item--content'>
<h1>
ETM
</h1>
<p>Vous voulez un CDS ? on vous explique</p>
</div>
<div class='achievement-item--image'>
<img src='https://cdn.intra.42.fr/achievement/image/116/SOC014.svg'>
</div>
</div>
</div>
<div class='vertical-list'></div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>
<div aria-hidden='true' aria-labelledby='smartModalLabel' class='modal fade' id='smartModal' role='dialog' tabindex='-1'>
<div class='modal-dialog'>
<div class='modal-content'>
<div class='modal-header'>
<button aria-hidden='true' class='close' data-dismiss='modal' type='button'>
x
</button>
<h3 id='smartModalLabel'>

</h3>
</div>
<div class='modal-body'>
<h4 class='note-title'></h4>
</div>
<div class='modal-footer'>
<button aria-hidden='true' class='btn' data-dismiss='modal'>Cancel</button>
<button class='send btn btn-primary'>Send</button>
</div>
</div>
</div>
</div>
<div aria-hidden='true' aria-labelledby='flashModalLabel' class='modal fade' id='flashModal' role='dialog' tabindex='-1'>
<div class='modal-dialog modal-lg'>
<div class='modal-content'>
<div class='modal-header'>
<button aria-hidden='true' class='close' data-dismiss='modal' type='button'>
x
</button>
<h3 id='flashModalLabel'></h3>
</div>
<div class='modal-body'>
<h4 class='note-title'>Flash modal content (raw)</h4>
</div>
<div class='modal-footer'>
<button aria-hidden='true' class='btn btn-block btn-default' data-dismiss='modal'>Close</button>
</div>
</div>
</div>
</div>

<script>
  function google_analytics() {
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', "UA-55986469-5", 'auto');

    ga('send', 'pageview');
  }

  if (!document.documentElement.hasAttribute("data-turbolinks-preview"))
    google_analytics();
</script>

<div data-cache="true" class="hide"></div>
</body>
<script>
  var jsClasses = ["new_message", "topic-reply"];
  jsClasses.forEach(function(className) {
    Array.prototype.forEach.call(document.getElementsByClassName(className), function (e) {
      e.classList.add("js-hidden");
    });
  });
</script>
<script src="/assets/application-0099398fb0ea9e44d6f6c0a29461ab3f427f149e15571b768e9f56cf55bffdd3.js"></script>
</head>
</html>


