
<div class="banner ville">
  <div class="banner-content">
    <h1>RENDRE LA VILLE PLUS VERTE</h1>
    <h2>Quelques infos </h2>
  </div>
</div>



  <%= link_to data3_path do %>
  <div class="product">
    <div class='product-upvote'>
      <div class="product-arrow"></div>
      <div class='product-count'>1</div>
    </div>
    <%= image_tag("balades.jpg", :class => "product-image hidden-xs") %>
    <div class='product-body'>
      <h3>20</h3>
      <p>Circuits de balade identifiés</p>
    </div>
  </div>
  <% end %>

<%= link_to data4_path do %>
  <div class="product">
    <div class='product-upvote'>
      <div class="product-arrow"></div>
      <div class='product-count'>2</div>
    </div>
    <%= image_tag("travaux.jpg", :class => "product-image hidden-xs") %>
    <div class='product-body'>
      <h3>123</h3>
      <p>Bus équipés de motorisation moins polluante</p>
    </div>
  </div>
  <% end %>

  <%= link_to data5_path do %>
  <div class="product">
    <div class='product-upvote'>
      <div class="product-arrow"></div>
      <div class='product-count'>3</div>
    </div>
    <%= image_tag("cyclable.jpg", :class => "product-image hidden-xs") %>
    <div class='product-body'>
      <h3>80</h3>
      <p>Aménagment cyclable</p>
    </div>
  </div>
  <% end %>

