<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Wise city</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>


    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-sm-3">
            <ul class="list-inline social">
              <li>
                <a href="https://twitter.com/iceme">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="https://facebook.com/iceme">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="https://instagram.com/iceme">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
              <li>
                <a href="https://youtube.com/iceme">
                  <i class="fa fa-youtube"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-9">
            <p class="text-right">
              WISE CITY BOARD est une application fictive crée par
              <a href="http://www.weave.eu">weave</a>.
            </p>
          </div>
        </div>
      </div>
    </div>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
